
@{
                /**/

                ViewBag.Title = "ChangePassword";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>

        .alert-successs {
            animation-name: example;
            animation-duration: 10s;
            animation-fill-mode: forwards;
            padding: 15px;
            color: white;
            width: 300px;
            height: auto;
            border-radius: 10px;
        }



        .alert-danger {
            animation-name: example;
            animation-duration: 10s;
            animation-fill-mode: forwards;
            border-color: none;
            padding: 15px;
            background-color: red;
            color: white;
            width: 300px;
            height: auto;
            border-radius: 10px;
        }
    </style>


@if (TempData["Success"] != null)
{

    <div id="Success" class="alert-success" role="alert">
        @TempData["Success"]
    </div>

}
@if (TempData["Error"] != null)
{

    <div id="Error" class="alert-danger" role="alert">
        @TempData["Error"]
    </div>

}
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Change Password
            </div>

            <div class="card-body">
                <form action="~/Account/ChangePassword" method="post" class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Current Password</label>
                            <input type="text" name="cPassword" placeholder="Current Password" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label>New Password</label>
                            <input type="password" name="nPassword" placeholder="New Password" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label>ReType Password</label>
                            <input type="password" name="rPassword" placeholder="ReType Password" class="form-control" required />
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" value="Change Password" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

