
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["Success"] != null)
{
<div class="alert alert-primary fade show" role="alert">  @TempData["Success"]</div>

}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade show" role="alert">

        @TempData["Error"]
    </div>

}
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Forget Password
            </div>

            <div class="card-body">
                <form action="~/Account/ForgetPassword" method="post" class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Enter your Registered Email</label>
                            <input type="text" name="Email" placeholder="Email" class="form-control" required />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" value="Go" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

