@model WebApplication1.UserProfile
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
               Update User

            </div>
            <div class="card-body">
                @using (Html.BeginForm("UpdateUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.UserId)
                    <div class="row">
                        <div class="col-md-3">
                            <label>Name</label>
                            @Html.TextBoxFor(m => m.UserName, "", new { placeholder = "Name", @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-3">
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Email, "", new { @type = "email", placeholder = "Email", @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-3">
                            <label>Password</label>
                            @Html.TextBoxFor(m => m.Password, "", new { placeholder = "Password", @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-3">
                            <label>Choose New Image</label>
                            <input type="file" name="file" class="form-control-file" value="" />
                        </div>
                    </div>
                    
                    <div class="row">
                    <label> </label>
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
